* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #333;
  --text-color: #fff;
  --color-num: 255;
}

/* hide scrollbar */


body::-webkit-scrollbar {
  display: none;
}

html, body {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  text-align: center;
  color: var(--text-color);
  font-size: 32px;
}

header {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

/* .menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
  color: var(--text-color);
} */

#nav-icon3 {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--text-color);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.dark-mode-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
  color: var(--text-color);
}

#menu {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: none;
  opacity: 0;
}

#menu-item-container {
  margin-right: 10vw;
  text-align: right;
  z-index: 1;
}

.menu-item {
  color: var(--text-color);
  text-decoration: none;
  padding: 1.5vw 0;
  display: block;
  font-size: 7vh;
  opacity: 1;
  transition: font-size 0.5s ease;
}

#menu-item-container:hover > .menu-item {
  color: #666;
}

#menu-item-container:hover > .menu-item:hover {
  color: var(--text-color);
  font-size: 12vh;
}

#menu-background {
  opacity: 1;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
  rgba(var(--color-num), var(--color-num), var(--color-num), 0.12) 10%,
  transparent 15%
  );
  background-position: 100% 0%;
  background-size: 10vh 10vh;
  position: absolute;
  z-index: 0;
}

#profile {
  text-align: center;
  color: var(--text-color);
}

#profile img {
  margin-top: 5vh;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
}

#profile span {
  display: block;
  margin: 3vh 10vw;
  font-size: 2vh;
  text-align: justify;
}

section {
  height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
}

#projects {
  text-align: center;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  width: 200px;
  height: 300px;
  margin: 10px;
  perspective: 1000px;
}

.project-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-color: var(--text-color);
  color: var(--background-color);
  display: flex;
  border-radius: 5px;
  /* box-shadow: 0 4px 8px rgba(var(--color-num), var(--color-num), var(--color-num), 0.36); */
}

.project-card-front {
  align-items: flex-end;
  justify-content: center;
}

.project-card-front h3 {
  margin: 10px;
  font-size: 16px;
  color: #fff;
}

.project-card-back {
  flex-direction: column;
  justify-content: space-between;
  transform: rotateY(180deg);
}

.project-card-back a {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  margin: 20px 40px;
}

.project-card-back p {
  text-align: justify;
  font-size: 14px;
  padding: 20px;
}

.project-card-front p {
  margin: 10px;
  text-align: center;
}

footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
}

iframe {
  display: block;
  width: 65vh;
  height: 85vh;
  margin: 5vh auto;
}

